* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    padding: 5px 0px;
    display: flex;
    justify-content: space-evenly;
}


button {
    color: #fff;
    background-color: #4267F3;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    margin: 20px;
    width: 130px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.container-full {
    max-width: 1900px;
    margin: 0 auto;
    background-color: #23a2a8;
    height: 500px;
}

.container-full-2 {
    background-color: #3909097d;
    max-width: 1900px;
    margin: auto;
    margin-top: 50px;
    height: 1350px;
    width: 50%;
}
 
.container-full-3 {
    background-color: #c485857d;
    max-width: 1900px;
    margin-top: 11px;
    height: 300px;
    border: 1px solid black;
    display: flex;
}

.col {
    width: 100%;
    height: 240px;
    margin: 15px auto;
    border: 1px solid black;

}

.col-30 {
    width: 30%;
    background-color: red;
    height: 290px;
    margin-left: 150px;
    
}

.col-33 {
    width: 200px;
  height: 20px;
  background-color: lightsalmon;
  border: 1px solid black;
  height: 1220px;
  margin-top: 39px;
  padding: 31px;
}

.col-40 {
    width: 40%;
    background-color: green;
    height: 300px;
}

.col-50 {
    width: calc(100% / 2);
}

.col-60 {
    width: 60%;
    background-color: violet;
    height: 300px;
}

.content-header {
    margin: 10px;
}

.colonne-main {
    display: flex;
}

.content {
    text-align: center;
    padding: 1px;
    padding-top: 1px;
    background-color: yellow;
    height: 32px;
    border: 1px solid green;
    text-align: center;
    margin-left: 0;
    padding-top: 10px;
    width: 100%;
}

.content-prova {
    line-height: 40px;
}


.content-60 {
    
} 


.content-main {
    width: 900px;
  height: 200px;
  background-color: yellow;
  border: 1px solid black;
  margin: 5px auto;
}

#jumbo {
  width: 400px;
  margin: 31px 20px;
  background-image: url(../img/jumbo.png);
  background-size: cover;
  background-repeat: no-repeat;
    
}



.list-header{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

h1 {
    font-size: 55px;
  font-weight: 501;
  text-transform: uppercase;
  padding-top: 5px;
  line-height: 2;
}

h2 {
    color: #fff;
    font-size: 35px;
}

#bt-prova {
    margin: 15px 0;
}

#sp-main {
    margin: 15px 0;
}

.bt-radio {
    margin-top: 20px;
}

#second-radio {
    margin-left: 10px;
}

.fa-solid, .fas {
    font-weight: 900;
    font-size: 30px;
    margin-top: 60px;
  }

  .lista-abbonamenti {
    list-style-type: none;
  }