* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    padding: 5px 0px;
    display: flex;
    justify-content: space-evenly;
}


button {
    color: #fff;
    background-color: #4267F3;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.container-full {
    max-width: 1900px;
    margin: 0 auto;
    background-color: gray;
    height: 500px;
}

.col-50 {
    width: calc(100% / 2);
}


.content-header {
    margin: 10px;
}

.content-main {
    width: 1200px;
    margin: 15px;
    height: 470px;
    background-color: yellow;
    border: 1px solid black;
}



.list-header{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}